*{ /* 모든 요소의 기본 여백 제거 */
	margin: 0; /* 마진 - 외부여백 */
	padding: 0; /* 패딩 - 내부여백*/
	box-sizing: border-box; /* 박스 사이징: 보더박스 - 테두리상자 */
}

html, body{ /* HTML과 Body의 기본 설정 */ 
height: 100%; /* 하이트 - 높이조절 */
display: flex; /* 디스플레이: 플렉스 - 요소정렬, 레이아웃 설정 행과 열 */
justify-content: center; /* 저스터파이 컨텐트 센터 - 컨첸츠 요소를 중심정렬*/
align-items: center; /* 얼라인 아이텀즈 센터 - 요소를 교차축의 중앙정렬 */
margin: auto; /* 마진 오토 - 외부여백 자동조절 */
}


.calculator-container{
    display: flex; /* 디스플레이: 플렉스 - 요소정렬, 레이아웃 설정 행과 열 */
    flex-direction: column; /* 플렉스 디렉션 칼럼 - 컨테이너 내부 아이템 방향 위에서 아래로 */
    justify-content: center; /* 저스터파이 컨텐트 센터 - 컨첸츠 요소를 중심정렬*/
    align-items: center; /* 얼라인 아이텀즈 센터 - 자식 요소를 교차축의 중앙정렬 */
    width: auto; /* 위드쓰 - 너비 */
    margin: auto; /* 마진 오토 - 외부 여백 자동설정 */
    border: 1px solid #ccc; /* 살러드 테두리 영역 테두리 실선 */
    border-color: black; /* 보더 컬러 - 테두리 색 설정 */
    border-radius: 5px; /* 보더 레이디어스 - 테두리 굴곡 */
}
.display{
    width: 250px; /* 디스플레이 너비 설정 */
    margin: 10px; /* 외부 여백 설정 */
    margin-top: 0px; /* 외부 위쪽 여백 */
    padding: 10px; /* 내부 여백 설정 */
    height: 50px; /* 디스플레이 높이 설정 */
    border: 1px solid #ccc; /* 테두리 영역 solid 테두리 실선 */
    border-color: black; /* 테두리 색 설정 */
    border-radius: 5px; /* 테두리 굴곡 */
    color: black; /* 내부 색 설정 */
    text-align: right; /* 텍스트를 오른쪽으로 정렬 */
    font-size: 24px; /* 폰트 크기 */
    background-color: #f9f9f9; /* 배경색 */
    overflow: hidden; /* 오버플로우 히던 */
    /* - visible 비저벌 : 기본 값 넘칠 경우 컨텐츠가 상자 밖으로 보여집니다.
    - hidden 히던: 넘치는 부분은 잘려서 보여지지 않습니다. */
}
.buttons{
    width: 250px; /* 너비 설정 */
    margin: 10px; /* 외부 여백 설정 */
    margin-top: 0px;
    padding: 0; /* 내부 여백 설정 */
    height: 300px; /* 높이 설정 */
    border: 1px solid #ccc; /* 테두리 영역 테두리 실선 */
    border-color: black; /* 테두리 색 설정 */
    border-radius: 5px; /* 테두리 굴곡 */
    color: black; /* 내부 색 설정 */
    display: flex; /* Flexbox 사용 */
    flex-wrap: wrap; /* 버튼이 영역을 넘어가면 줄 바꿈 */
    cursor: pointer; /* 마우스 커서 변경 */
}
.button {
  flex-basis: 25%; /* 플렉스 베이서스 아이템의 기본 크기설정 */
  height: auto; /* 높이 자동 */
}
.button:hover{
    background-color: #d0d0d0; /* 버튼에 마우스를 올렸을 때 배경색 변화 */
}
.zero{
    flex: 2 0 42%; /* 숫자 0 버튼은 두 배의 영역을 차지 */
}

.title-button{
    margin: 5px 0 0 15px; /* 외부여백 */
    margin-right: auto;
    margin-top: 3px; /* 마진 자동 설정 */
}
  .title-button button{
    width: 12px; /* 너비 */
    height: 12px; /* 높이 */
    border-radius: 50%; /* 둥글기 */
    margin-right: 1px; /* 버튼 사이 공간*/
    border: none; /* 테두리 채우기 */
}
  
  .minimize{
    background-color: orange /* 백그라운드 컬러 버튼 컬러*/
}
  .maximize{
    background-color: green;
}
  .close{
    background-color: red;
}